.hero-section {
    background: linear-gradient(135deg, rgba(255, 235, 205, 0.9), rgba(211, 158, 226, 0.9)); /* Light Orange gradient */
    padding: 50px 0;
    text-align: center;
    color: #333;
  }
  
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: #333; /* Dark Gray */
  }
  
  .hero-content p {
    font-size: 1.25rem;
    margin-bottom: 20px;
    color: #555; /* Medium Gray */
  }
  
  .hero-content button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3d2663; /* Purple */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .hero-content button:hover {
    background-color: #5e35b1; /* Darker Purple */
  }
  